# List of SSL Variables to be created in Shell Config file (e.g. ~/.zshrc) to reference a custom PEM Certificate Store (including private and public). One entry per line
"GIT_SSL_CAINFO"
"AWS_CA_BUNDLE"
"NODE_EXTRA_CA_CERTS"
# "CURL_CA_BUNDLE"  ← cURL can already read the Keychain Access trusted CAs so there's no point using this variable unless we intend to trust a cert "not trusted" in Keychain...
