# List of websites used to detect if a proxy is in place, and whether SSL Interception is on... One entry per line!
# Please add internal and external servers for a thorought testing, bont the more you add the longer it'll tak
https://www.wikipedia.org
https://github.com
# https://example.internal.int
# https://notinspected.website.com
# https://inspected.website.com
